
.main-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  &__item {
      height: 120px;
      width: auto;
      margin: 0;
    }
    }


@media (min-width: 1200px) {
  &__item {
    }
    }