.promo {
  font-size: 15px;
  width: 320px;
  margin: 0 auto;

  &__title {
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  &__type {
    font-size: 17px;
    line-height: 20px;
    color: $lite-green;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0;
  }

   &__text {
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
    padding-right: 11px;
    padding-bottom: 20px;
    margin: 0;
  }

  &__table {
    color: $text-color;
    height: 123px;
  }

  &__image {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  &__footer {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
  }

  &__wrapper {
    width: 260px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .promo {
    width: 768px;
    &__wrapper {
      width: 668px;
      display: flex;
      flex-wrap: wrap;
    }
    &__header {
      width: 75%;
      margin-top: 55px;
      margin-bottom: 55px;
    }
    &__type {
      width: 25%;
      padding: 0;
      margin-top: 59px;
      margin-bottom: 60px;
    }
    &__info {
      width: 50%;
      padding: 0;
    }
    &__image {
      width: 50%;
      margin: 0;
    }
    &__title {
      margin: 0;
    }
    &__comment {
      margin: 0;
    }
  }
}

@media (min-width: 1250px) {
  .promo {
    width: 1250px;
    &__wrapper {
      width: 1050px;
    }
     &__header {
      width: 33.334%;
    }
    &__type {
      width: 16.667%;
      order: -1;
    }
    &__info {
      width: 33.334%;
    }
    &__image {
      width: 50%;
    }
  }

}
